.photo-container {
    position: relative;
    width: 100%; /* Set the width of the container according to your design */
  }
  
  img {
    width: 60%; /* Make sure the image takes up the entire container */
    height: auto; /* Maintain aspect ratio */
    z-index: 10;
    position: relative;
  }
  
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Make the video fill the container */
    height: 100%; /* Make the video fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  